@charset "UTF-8";
/* navi
----------------------------------------------------*/
.p-navi li{
	font-size: 1.2rem;	
}

@include media-max {
.p-navi_btn{
	display: none;
}

.p-navi_list li{
	display: inline-block;
	margin-left: 40px;
	position: relative;

	&.is-active:after{
		content:'';
		display: block;
		width: 100%;
		height: 5px;
		background-color: $color-strong;
		position: absolute;
		bottom: -12px;
		left: 0;
	}
}

}

/* SP */
@include media-min {
.p-navi_btn{
	z-index:1000;
	position: absolute;
	top: 18px;
	right: 20px;

	width: 25px;
	height: 18px;
}

.p-navi_btn,
.p-navi_btn span{
	display: inline-block;
	transition: all .3s;
	box-sizing: border-box;
}

.p-navi_btn span{
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
}

.p-navi_btn span:nth-of-type(1) {
	top: 0;
}
.p-navi_btn span:nth-of-type(2) {
	top: 8px;
}
.p-navi_btn span:nth-of-type(3) {
	bottom: 0;
}


.p-navi_btn.is-active{
	position: fixed;
}

.p-navi_btn.is-active span:nth-of-type(1) {
	-webkit-transform: translateY(8px) rotate(-45deg);
	transform: translateY(8px) rotate(-45deg);
}
.p-navi_btn.is-active span:nth-of-type(2) {
	opacity: 0;
}
.p-navi_btn.is-active span:nth-of-type(3) {
	-webkit-transform: translateY(-8px) rotate(45deg);
	transform: translateY(-8px) rotate(45deg);
}

.p-navi{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	z-index: 999;
 	
	&:before{
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}

	.p-navi_list{
		display: inline-block;
		vertical-align: middle;
		padding: 20px;
		text-align: center;
		position: relative;

		li{
			font-size: 1.6rem;
			margin: 44px 0;
		}
	}
}
.p-navi.is-active {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

}
