@charset "UTF-8";
/* top
----------------------------------------------------*/
.p-top{
	& > * {
		margin-top: 90px;
	}
}

.p-top_header{
	text-align: center;
	margin-bottom: 90px;

	h3{
		font-size: 4rem;
		position: relative;
		color: $color-strong;

		&:after{
			content:'';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 76px;
			height: 6px;
			background-color: $color-strong;
		}
	}

	p{
		font-size: 1.8rem;
	}

}

.p-top_about{
	text-align: center;
}

.p-top_about_list{
	.p-top_about_header{
		font-size: 1.8rem;

		img{
			display: inline-block;
			margin-bottom: 30px;
		}
	}

	.p-top_about_body{
		color: $color-sub-text;
	}
}


@include media-max {
.p-top{
}

.p-top_header{
	h3{
		padding-bottom: 56px;
		margin-bottom: 50px;
	}
}

.p-top_about{
	padding:0 15px;
}

.p-top_about_list{
	width: 100%;
	display: table;
	table-layout: fixed;

	& > li{
		display: table-cell;
		padding:0 15px;
	}

	.p-top_about_header{
		margin-bottom: 30px;
	}
}


}
/* SP */
@include media-min {
.p-top{
	& > * {
		margin-top: 50px;
	}
}

.p-top_header{
	margin-bottom: 30px;

	h3{
		font-size: 2.5rem;
		padding-bottom: 28px;
		margin-bottom: 25px;

		&:after{
			width: 76px;
			height: 3px;
		}
	}

	p{
		font-size: 1.5rem;
	}
}


.p-top_about_list{
	li{
		margin-top: 40px;
	}
	.p-top_about_header{
		font-size: 1.8rem;
		margin-bottom: 15px;
	}

	.p-top_about_body{
		color: $color-sub-text;
	}
}

}


