@charset "UTF-8";
/* float
----------------------------------------------------*/
.u-flL{float: left;}

.u-flR{float: right;}


/* text-align
----------------------------------------------------*/
.u-alL{text-align: left !important;}
.u-alR{text-align: right !important;}
.u-alC{text-align: center !important;}

.u-valT{vertical-align: top !important;}
.u-valM{vertical-align: middle !important;}
.u-valB{vertical-align: bottom !important;}